__pycache__

setup/build
setup/*.so
setup/pysuc_ne.c
setup/pysuc.c
setup/pysuc_ne.c
setup/pyudt_suc_sv.c
setup/swe-pipeline
setup/udt_suc_sv
setup/udt_suc_sv.c
setup/lemmatize.c

input/*
output/*
var/*
debug.py

efselabwrapper/**.so
efselabwrapper/bin